body {
    margin: 0px;
    background-color: #bfffaf;
}

header {
    padding: 20px;
    background-color: lightblue;
}

header p {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

nav h1 {
    margin-left: 20px;
}

nav .index {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.gallery .container{
    background-color: #54c07d;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;

    display: grid;
    grid-template-areas:
            "titol informacio"
            "foto informacio";
}

.gallery .foto {
    width: 350px;
    height: auto;
}

.gallery h2 {
    text-align: center;
}

.gallery a .informacio {
    grid-area: informacio;
    grid-column: 2;
}

.gallery a h3 {
    grid-area: titol;
    grid-column: 1;

    padding: 0px;
}

.gallery a img {
    grid-area: foto;
    grid-column: 1;

    padding: 0px;
}

.bibliografia {
    background-color: rgb(255, 180, 229);
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

footer {
    padding: 20px;
    background-color: lightblue;
}

footer #container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
            "llicencia segueixnos";
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

#llicencia {
    grid-area: llicencia;
}

#segueixnos {
    grid-area: segueixnos;
}

@media (max-width: 600px) {
    header {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    header nav {
        flex-direction: column;
    }

    #bibliografia {
        text-align: center;
    }

    footer #container {
        grid-template-areas:
                "llicencia"
                "segueixnos";

        text-align: center;
    }

    .gallery {
        display: grid;
        grid-template-areas:
                "titol"
                "foto"
                "informacio";
    }

    .gallery a .informacio {
        grid-area: informacio;
    }

    .titol {
        grid-area: titol;
    }

    .foto {
        grid-area: foto;
    }
}